@import url("../containers/button_container.css");

/* 버튼에는 width가 정해져 있지 않습니다. 필히 width를 설정해 주세요. */

:root {
    --button-height__xs: 32px;
    --button-height__sm: 40px;
    --button-height__md: 50px;
}

/* 버튼 아이템 */
/* 

버튼의 종류
1. 텍스트만 있는 버튼 - flat
2. 언더라인이 있는 텍스트 버튼 - anchor
3. 패딩을 가진 버튼 - transparent
4. 테두리만 있는 버튼 - bordered
5. 배경색을 가진 버튼 - default
6. rounding이 있는 버튼 - rounded
7. 그림자를 가진 버튼 - activity(normal -> pressed -> disabled) 
8. 비활성화 버튼 - disabled
9. 
*/

button,
a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: var(--button-height__md);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: var(--font-size__button);
    font-weight: var(--font-weight__bold);
    line-height: var(--line-height__md);
    transition: all 0.2s ease-out;
    overflow: hidden;
    z-index: 2;
}

button.fixed,
a.fixed {
    max-width: fit-content;
}

button.expanded,
a.expanded {
    width: 100%;
}

button.small,
a.small {
    height: var(--button-height__sm);
}

button.extra-small,
a.extra-small {
    height: var(--button-height__xs);
}

button.curved,
a.curved {
    border-radius: var(--curved);
}

button.rounded,
a.rounded {
    border-radius: var(--rounded);
}

button.circle,
a.circle {
    aspect-ratio: 1/1;
    border-radius: var(--circle);
}

button.primary,
a.primary {
    background-color: var(--color-primary);
    color: var(--color-white__off);
}

button.action,
a.action {
    background-color: var(--color-action);
    color: var(--color-white__off);
}

button.complementary,
a.complementary {
    background-color: var(--color-complementary);
    color: var(--color-white__off);
}

button.danger,
a.danger {
    background-color: var(--color-danger);
    color: var(--color-white__off);
}

button.info,
a.info {
    background-color: var(--color-info);
    color: var(--color-white__off);
}

button.success,
a.success {
    background-color: var(--color-success);
    color: var(--color-white__off);
}

button.warning,
a.warning {
    background-color: var(--color-warning);
    color: var(--color-white__off);
}

button.pressed,
a.pressed {
    background-color: var(--color-neutral) !important;
    color: var(--color-white__off) !important;
}

button.disabled,
a.disabled {
    background-color: var(--color-disabled__background) !important;
    color: var(--color-disabled__text) !important;
}

/* black button */
.button__a {
    background-color: var(--color-black__off);
    color: var(--color-white);
}

.button__a.hovering:hover {
    background-color: transparent;
    color: var(--color-black__off);
}

.button__a.hovering:hover.primary {
    background-color: transparent;
    color: var(--color-primary);
    border: var(--border-primary__1);
}

.button__a.hovering:hover.complementary {
    background-color: transparent;
    color: var(--color-complementary);
    border: var(--border-complementary__1);
}

.button__a.hovering:hover.action {
    background-color: transparent;
    color: var(--color-action);
    border: var(--border-action__1);
}

.button__a.hovering:hover.danger {
    background-color: transparent;
    color: var(--color-danger);
    border: var(--border-danger__1);
}

.button__a.hovering:hover.success {
    background-color: transparent;
    color: var(--color-success);
    border: var(--border-success__1);
}

.button__a.hovering:hover.info {
    background-color: transparent;
    color: var(--color-info);
    border: var(--border-info__1);
}

.button__a.hovering:hover.warning {
    background-color: transparent;
    color: var(--color-warning);
    border: var(--border-warning__1);
}

/* flat text */
.button__b,
.text-button {
    height: auto;
    padding: 0;
}

.button__b.pressed,
.text-button.pressed {
    background-color: transparent !important;
    color: var(--color-neutral) !important;
}

.button__b.disabled,
.text-button.disabled {
    background-color: transparent !important;
    color: var(--color-disabled__text) !important;
}

.button__b.primary,
.text-button.primary {
    background-color: transparent;
    color: var(--color-primary);
}

.button__b.complementary,
.text-button.complementary {
    background-color: transparent;
    color: var(--color-complementary);
}

.button__b.action,
.text-button.action {
    background-color: transparent;
    color: var(--color-action);
}

.button__b.danger,
.text-button.danger {
    background-color: transparent;
    color: var(--color-danger);
}

.button__b.success,
.text-button.success {
    background-color: transparent;
    color: var(--color-success);
}

.button__b.info,
.text-button.info {
    background-color: transparent;
    color: var(--color-info);
}

.button__b.warning,
.text-button.warning {
    background-color: transparent;
    color: var(--color-warning);
}

/* bordering */
.button__c {
    background-color: transparent;
    color: inherit;
    border: var(--border__1);
}

.button__c:hover {
    background-color: var(--color-black__off);
    color: var(--color-white__off);
    border: var(--border-black__1);
}

.button__c.thick {
    border-width: 2px;
}

.button__c.extra-thick {
    border-width: 3px;
}

.button__c.pressed,
.bordered-button.pressed {
    background-color: transparent !important;
    color: var(--color-neutral) !important;
    border: var(--border__1) !important;
}

.button__c.disabled,
.bordered-button.disabled {
    background-color: var(--color-disabled__background) !important;
    color: var(--color-disabled__text) !important;
    border: var(--border__1) !important;
}

.button__c.primary,
.bordered-button.primary {
    background-color: transparent;
    color: var(--color-primary);
    border: var(--border-primary__1);
}

.button__c.complementary,
.bordered-button.complementary {
    background-color: transparent;
    color: var(--color-complementary);
    border: var(--border-complementary__1);
}

.button__c.danger,
.bordered-button.danger {
    background-color: transparent;
    color: var(--color-danger);
    border: var(--border-danger__1);
}

.button__c.success,
.bordered-button.success {
    background-color: transparent;
    color: var(--color-success);
    border: var(--border-success__1);
}

.button__c.info,
.bordered-button.info {
    background-color: transparent;
    color: var(--color-info);
    border: var(--border-info__1);
}

.button__c.warning,
.bordered-button.warning {
    background-color: transparent;
    color: var(--color-warning);
    border: var(--border-warning__1);
}

.button__c:hover.primary,
.bordered-button:hover.primary {
    background-color: var(--color-primary);
    color: var(--color-white__off);
    border: var(--border-primary__1);
}

.button__c:hover.complementary,
.bordered-button:hover.complementary {
    background-color: var(--color-complementary);
    color: var(--color-white__off);
    border: var(--border-complementary__1);
}

.button__c:hover.danger,
.bordered-button:hover.danger {
    background-color: var(--color-danger);
    color: var(--color-white__off);
    border: var(--border-danger__1);
}

.button__c:hover.success,
.bordered-button:hover.success {
    background-color: var(--color-success);
    color: var(--color-white__off);
    border: var(--border-success__1);
}

.button__c:hover.info,
.bordered-button:hover.info {
    background-color: var(--color-info);
    color: var(--color-white__off);
    border: var(--border-info__1);
}

.button__c:hover.warning,
.bordered-button:hover.warning {
    background-color: var(--color-warning);
    color: var(--color-white__off);
    border: var(--border-warning__1);
}

/* icon default */
.button__d,
.symbol-button {
    aspect-ratio: 1/1 !important;
    border: var(--border__1);
}

/* icon curved */
.button__e,
.icon-button {}



/* left icon + light anchor curved */
.button__f,
.multiple-button {
    justify-content: space-between;
}

.button__g {
    justify-content: space-between;
    max-width: fit-content;
    min-width: 320px;
    width: auto;
    height: var(--button-height__md);
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--gray_100);
    color: var(--gray_600);
    font-size: var(--font-size__button_sm);
    font-weight: var(--font-weight__bold);
    line-height: var(--line-height__md);
    border-radius: var(--curved);
}

.button__g::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: var(--line-height__md);
    background-image: url("/public/images/icons/ic_search.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.button__g::after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url("/public/images/icons/ic_anchor.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
    margin-left: auto;
}

.button__g.pressed {
    background-color: var(--color-gray__200);
    color: var(--gray_600);
}

.button__g.disabled {
    background-color: var(--color-gray__200);
    color: var(--color-white);
}

/* small anchor curved */
.button__h {
    justify-content: space-between;
    max-width: fit-content;
    min-width: 320px;
    width: auto;
    height: var(--button-height_sm);
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--gray_100);
    color: var(--color-gray__400);
    font-size: var(--font-size__button_xs);
    font-weight: var(--font-weight_medium);
    line-height: var(--line-height__md);
    border-radius: var(--curved);
}

.button__h::after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url("/public/images/icons/ic_anchor.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
}

.button__h.pressed {
    background-color: var(--color-gray__200);
    color: var(--color-gray__400);
}

.button__h.disabled {
    background-color: var(--gray_100);
    color: var(--gray_100);
}

/* old mobile and wearable  */
@media all and (min-width: 280px) and (max-width: 359px) {}

/* mobile devices */
@media all and (min-width: 320px) {}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:576px) {}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {}

/* Large devices (small desktops and laptop, 992px and up) */
@media all and (min-width: 992px) {}

/* Extra large devices (desktops and large laptop, 1200px and up) */
@media screen and (min-width:1200px) {}

/* Extra Extra large devices (large desktops, 1440px and up) */
@media all and (min-width: 1440px) {}