i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    object-fit: cover;
}

.ic-search {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("/public/images/icon/ic_search.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.ic-arrow__left {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("/public/images/icon/ic_arrow_left.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ic-arrow__left-double {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("/public/images/icon/ic_arrow_left_double.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ic-arrow__right {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("/public/images/icon/ic_arrow_right.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ic-arrow__right-double {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("/public/images/icon/ic_arrow_right_double.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ic-draggable {
    display: inline-block;
    width: 3rem;
    height: auto;
    aspect-ratio: 8/1;
    background-image: url("/public/images/icon/ic_draggable.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.ic-draggable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* old mobile and wearable  */
@media all and (min-width: 280px) and (max-width: 359px) {}

/* mobile devices */
@media all and (min-width: 320px) {}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:576px) {}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {}

/* Large devices (small desktops and laptop, 992px and up) */
@media all and (min-width: 992px) {}

/* Extra large devices (desktops and large laptop, 1200px and up) */
@media screen and (min-width:1200px) {}

/* Extra Extra large devices (large desktops, 1440px and up) */
@media all and (min-width: 1440px) {}