@import url("../containers/input_container.css");
@import url("../components/text_field.css");
@import url("../components/selection_button.css");

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.input-wrapper,
.input-wrapper.vertical {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.25rem;
}

.input-wrapper.horizontal {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
}

label,
.fake-label {
    flex-shrink: 0;
    display: inline-block;
    width: auto;
    height: auto;
    color: var(--color-gray__600);
    font-size: var(--font-size__label);
    font-weight: var(--font-weight__bold);
    line-height: var(--line-height__label);
    letter-spacing: -0.25px;
}

.fake-label {
    min-width: 7.5rem;
}

.input[type=text],
.fake-textfield {
    flex: 1;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    color: var(--color-black__off);
    font-size: var(--font-size__input);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__input);
    border: var(--border-gray__1);
}