@import url("../containers/input_container.css");

:root {
    --line-height__xs: 20px;
    --line-height__sm: 22px;
    --line-height__md: 24px;
}

label {
    display: inline-block;
    max-width: fit-content;
    width: auto;
    height: var(--input-height__xs);
    color: var(--color-neutral);
    font-size: var(--font-size__label);
    font-weight: var(--font-weight__bold);
    line-height: var(--line-height__md);
    letter-spacing: -0.25px;
}

input {
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: var(--font-size__input);
    font-weight: var(--font-weight__bold);
    line-height: var(--line-height__md);
}

input::placeholder {
    color: var(--color-placeholder);
}

/* old mobile and wearable  */
@media all and (min-width: 280px) and (max-width: 359px) {}

/* mobile devices */
@media all and (min-width: 320px) {}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:576px) {}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {}

/* Large devices (small desktops and laptop, 992px and up) */
@media all and (min-width: 992px) {}

/* Extra large devices (desktops and large laptop, 1200px and up) */
@media screen and (min-width:1200px) {}

/* Extra Extra large devices (large desktops, 1440px and up) */
@media all and (min-width: 1440px) {}