:root {
    --button-height__xs: 24px;
    --button-height__sm: 32px;
    --button-height__md: 40px;
    --button-height__lg: 50px;
}

input[type=checkbox]+label,
input[type=radio]+label {
    min-width: auto;
    height: var(--button-height__md);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--color-gray__500);
    font-size: var(--font-size__label);
    font-weight: var(--font-weight__bold);
    line-height: var(--line-height__label);
    cursor: pointer;
}

/* check box bordered */
.checkbox__a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
}

.checkbox__a input {
    display: none;
}

.checkbox__a label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    width: auto;
    border: var(--border__1);
}

.checkbox__a.full label {
    width: 100%;
}

.checkbox__a.small label {
    height: var(--button-height__sm);
}

.checkbox__a.curved label {
    border-radius: var(--curved);
}

.checkbox__a.rounded label {
    border-radius: var(--rounded);
}

.checkbox__a label::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    background-image: url("/public/images/icon/ic_checkbox_unchecked.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.checkbox__a input:checked+label {
    background-color: var(--color-green__200);
    border-color: var(--color-green__600);
    color: var(--color-black__off);
}

.checkbox__a input:checked+label::before {
    content: '';
    background-image: url("/public/images/icon/ic_checkbox_checked.svg");
}

.checkbox__a input:disabled+label {
    background-color: var(--color-disabled__background);
    color: var(--color-disabled__text);
    cursor: not-allowed;
}

/* text checkbox */
.checkbox__b {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
}

.checkbox__b input {
    display: none;
}

.checkbox__b label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5rem;
    width: auto;
    border: var(--border__1);
}

.checkbox__b.full label {
    width: 100%;
}

.checkbox__b.small label {
    height: var(--button-height__sm);
}

.checkbox__b.curved label {
    border-radius: var(--curved);
}

.checkbox__b.rounded label {
    border-radius: var(--rounded);
}

.checkbox__b label::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    background-image: url("/public/images/icon/ic_checkbox_unchecked.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.checkbox__b input:checked+label {
    background-color: var(--color-green__200);
    border-color: var(--color-green__600);
    color: var(--color-black__off);
}

.checkbox__b input:checked+label::after {
    content: '';
    background-image: url("/public/images/icon/ic_checkbox_checked.svg");
}

.checkbox__b input:disabled+label {
    background-color: var(--color-disabled__background);
    color: var(--color-disabled__text);
    cursor: not-allowed;
}

/* text checkbox */
.checkbox__c {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
}

.checkbox__c input {
    display: none;
}

.checkbox__c label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    width: auto;
    height: auto;
}

.checkbox__c.full label {
    width: 100%;
}

.checkbox__c.underline label {
    text-decoration: underline;
}

.checkbox__c label::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    background-image: url("/public/images/icon/ic_checkbox_unchecked.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.checkbox__c input:checked+label::before {
    content: '';
    background-image: url("/public/images/icon/ic_checkbox_checked.svg");
}

.checkbox__c input:disabled+label {
    background-color: transparent;
    color: var(--color-disabled__text);
    text-decoration: line-through;
    cursor: not-allowed;
}

/* radio bordered */
.radio__a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
}

.radio__a input {
    display: none;
}

.radio__a label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    width: auto;
    border: var(--border__1);
}

.radio__a.full label {
    width: 100%;
}

.radio__a.small label {
    height: var(--button-height__sm);
}

.radio__a.curved label {
    border-radius: var(--curved);
}

.radio__a.rounded label {
    border-radius: var(--rounded);
}

.radio__a label::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    background-image: url("/public/images/icon/ic_radio_unchecked.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.radio__a input:checked+label {
    background-color: var(--color-green__200);
    border-color: var(--color-green__600);
    color: var(--color-black__off);
}

.radio__a input:checked+label::before {
    content: '';
    background-image: url("/public/images/icon/ic_radio_checked.svg");
}

.radio__a input:disabled+label {
    background-color: var(--color-disabled__background);
    color: var(--color-disabled__text);
    cursor: not-allowed;
}

/* radio reverse */
.radio__b {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
}

.radio__b input {
    display: none;
}

.radio__b label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5rem;
    width: auto;
    border: var(--border__1);
}

.radio__b.full label {
    width: 100%;
}

.radio__b.small label {
    height: var(--button-height__sm);
}

.radio__b.curved label {
    border-radius: var(--curved);
}

.radio__b.rounded label {
    border-radius: var(--rounded);
}

.radio__b label::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    background-image: url("/public/images/icon/ic_radio_unchecked.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.radio__b input:checked+label {
    background-color: var(--color-green__200);
    border-color: var(--color-green__600);
    color: var(--color-black__off);
}

.radio__b input:checked+label::after {
    content: '';
    background-image: url("/public/images/icon/ic_radio_checked.svg");
}

.radio__b input:disabled+label {
    background-color: var(--color-disabled__background);
    color: var(--color-disabled__text);
    cursor: not-allowed;
}

/* text radio */
.radio__c {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
}

.radio__c input {
    display: none;
}

.radio__c label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    width: auto;
    height: auto;
}

.checkbox__a.full label {
    width: 100%;
}

.radio__c.underline label {
    text-decoration: underline;
}

.radio__c label::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    background-image: url("/public/images/icon/ic_checkbox_unchecked.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.radio__c input:checked+label::before {
    content: '';
    background-image: url("/public/images/icon/ic_checkbox_checked.svg");
}

.radio__c input:disabled+label {
    background-color: transparent;
    color: var(--color-disabled__text);
    text-decoration: line-through;
    cursor: not-allowed;
}

/* switch button */
.switch__a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
}

.switch__a input {
    display: none;
}

.switch__a input+label {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: var(--button-height__sm);
    padding: 0.125rem 2rem;
    border: var(--border__1);
    border-radius: var(--rounded);
}

.switch__a.small input+label {
    height: var(--button-height__xs);
}

.switch__a label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: auto;
    height: 65%;
    aspect-ratio: 1/1;
    background-color: var(--color-gray__300);
    border-radius: var(--circle);
    transition: all 0.2s ease-out;
}

.switch__a input:checked+label {
    background-color: var(--color-green__200);
    color: var(--color-green__600);
    border: var(--border-success__1);
}

.switch__a input:checked+label::after {
    left: calc(100% - 1rem);
    background-color: var(--color-green__600);
}

/* switch button square */
.switch__b {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
}

.switch__b input {
    display: none;
}

.switch__b input+label {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: var(--button-height__sm);
    padding: 0.125rem 2rem;
    border: var(--border__1);
    border-radius: var(--edge);
}

.switch__b.small input+label {
    height: var(--button-height__xs);
}

.switch__b label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: auto;
    height: 50%;
    aspect-ratio: 1/1;
    background-color: var(--color-gray__300);
    border-radius: var(--edge);
    transition: all 0.2s ease-out;
}

.switch__b input:checked+label {
    background-color: var(--color-green__200);
    color: var(--color-green__600);
    border: var(--border-success__1);
}

.switch__b input:checked+label::after {
    left: calc(100% - 1rem);
    background-color: var(--color-green__600);
}

/* select box */
.select__a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    border: var(--border__1);
    height: var(--button-height__sm);
    padding: 0.125rem 0.5rem;
}

.select__a.rounded {}