@import url("./pagination.css");

table.scrollable {
    width: 100%;
    overflow-x: auto;
}

table.full thead,
table.full tbody {
    width: 100%;
}

table tbody input,
table tbody label,
table tbody img.fixed {
    height: var(--row-height__sm);
}

table tbody img {
    width: auto;
}

/* table category A */

.table__a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.25rem;
    width: max-content;
    margin-bottom: 3rem;
}

.table__a thead {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    margin-left: 0;
}

.table__a tbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.75rem;
    width: max-content;
    margin-left: 0;
}

.table__a thead tr,
.table__a tbody tr {
    display: grid;
    grid-template-columns: auto;
    column-gap: 0.25rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: var(--font-size__tbody-md);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__tbody-md);
}

.table__a thead tr {
    color: var(--color-gray__500);
}

.table__a tbody tr {
    min-height: 3.25rem;
    color: var(--color-black);
    border: var(--border-gray__1);
    border-radius: var(--curved);
}

.table__a tbody tr.empty {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background-color: var(--color-gray__200);
}

.table__a tbody tr.empty::after {
    content: '자료가 없습니다.';
    color: var(--color-gray__500);
    font-size: var(--font-size__tbody-lg);
    font-weight: var(--font-weight__bold);
    line-height: var(--line-height__md);
    text-align: center;
}

.table__a tr th,
.table__a tr td {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.table__a tr td.vertical {
    flex-direction: column;
    justify-content: center;
}

.table__a tr td.evenly {
    justify-content: space-evenly;
}

.table__a tr th.center,
.table__a tr td.center {
    justify-content: center;
}

.table__a tr th.left,
.table__a tr td.left {
    justify-content: left;
}

.table__a tr th.right,
.table__a tr td.right {
    justify-content: right;
}

.table__a tbody tr td.ellipsis {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: inherit;
}

.table__a tbody tr td.font-weight__bold {
    font-weight: bolder;
}

.table__a tbody tr td select {
    height: var(--row-height__sm);
    color: var(--color-black);
    font-size: var(--font-size__tbody-sm);
    font-weight: var(--font-weight__medium);
    line-height: var(--row-height__sm);
}

/* table category B */

.table__b {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.5rem;
}

.table__b thead {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0.5rem;
    width: 100%;
}

.table__b tbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.25rem;
    width: 100%;
}

.table__b thead tr {
    display: grid;
    grid-template-columns: auto;
    column-gap: 1rem;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--color-gray__500);
    font-size: var(--font-size__thead-md);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__thead-md);
}

.table__b tbody tr {
    display: grid;
    grid-template-columns: auto;
    column-gap: 1rem;
    width: auto;
    min-height: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--color-black);
    font-size: var(--font-size__tbody-md);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__tbody-md);
    border-bottom: var(--border-gray__1);
}


.table__b tbody tr:nth-child(1) {
    border-top: var(--border-gray__1);
}

.table__b tr th,
.table__b tr td {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

table tr th.h-left,
table tr td.h-left {
    justify-content: flex-start;
}

table tr th.h-center,
table tr td.h-center {
    justify-content: center;
}

table tr th.h-right,
table tr td.h-right {
    justify-content: flex-end;
}

table tr th.v-top,
table tr td.v-top {
    align-items: flex-start;
}

table tr th.v-center,
table tr td.v-center {
    align-items: center;
}

table tr th.v-bottom,
table tr td.v-bottom {
    align-items: flex-end;
}

table tr th.v-around,
table tr td.v-around {
    flex-direction: column;
    justify-content: space-around;
}

table tr th.v-between,
table tr td.v-between {
    flex-direction: column;
    justify-content: space-between;
}

table tr th.v-evenly,
table tr td.v-evenly {
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 1023px) {

    .table__a tbody tr {
        height: var(--row-height__md);
        line-height: var(--row-height__md);
    }

    .table__a tbody tr td select {
        height: var(--row-height__xs);
        line-height: var(--row-height__xs);
    }

}

/* old mobile and wearable  */
@media all and (min-width: 280px) and (max-width: 359px) {}

/* mobile devices */
@media all and (min-width: 320px) {}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:576px) {}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {}

/* Large devices (small desktops and laptop, 992px and up) */
@media all and (min-width: 992px) {}

/* Extra large devices (desktops and large laptop, 1200px and up) */
@media screen and (min-width:1200px) {}

/* Extra Extra large devices (large desktops, 1440px and up) */
@media all and (min-width: 1440px) {}