/* text field horizontal label + input */
.textfield__a {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    width: auto;
}

.textfield__a.wrap {
    flex-wrap: wrap;
    row-gap: 0.25rem;
}

.textfield__a label {
    display: block;
    width: auto;
    min-width: fit-content;
}

.textfield__a input {
    flex: 1;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    color: var(--color-black__off);
    font-size: var(--font-size__input);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__input);
    border: var(--border-gray__1);
}

.textfield__a.curved input {
    border-radius: var(--curved);
}

.textfield__a.rounded input {
    border-radius: var(--rounded);
}

.textfield__a .field-message {
    display: none;
}

.textfield__a.error input,
.textfield__a.error textarea {
    border: 1px solid var(--color-danger);
}

.textfield__a.error .field-message {
    display: inline-block;
    width: auto;
    color: var(--color-danger);
    font-size: var(--font-size__detail);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__detail);
    margin-left: auto;
}

.textfield__a.success input,
.textfield__a.success textarea {
    border: 1px solid var(--color-success);
}

.cms-textfield-a.success .filed-message,
.textfield__horizontal.success .filed-message {
    display: inline-block;
    width: auto;
    color: var(--color_danger);
    font-size: var(--font-size__message);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__message);
    margin-left: auto;
}


/* textfield vertical label + input */

.textfield__b,
.textfield__vertical {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.25rem;
}

.textfield__b.fixed {
    max-width: fit-content;
}

.textfield__b.expanded {
    width: 100%;
}

.textfield__b label {
    display: inline-block;
    min-width: 7.5rem;
    width: 100%;
    height: auto;
    color: var(--color-neutral);
    font-size: var(--font-size__md);
    font-weight: var(--font-weight__bold);
    line-height: 20px;
    letter-spacing: -0.25px;
}

.textfield__b input,
.textfield__b select {
    width: 100%;
    height: auto;
    padding: 0.5rem 1rem;
    color: var(--color-black);
    font-size: var(--font-size__md);
    font-weight: var(--font-weight__medium);
    line-height: 22px;
    letter-spacing: 0.5px;
    border: var(--border-gray__1);
    border-radius: var(--curved);
}

/* text field B large */

.textfield__b.large label,
.textfield__vertical.large label {
    line-height: 24px;
}

.textfield__b.large input,
.textfield__b.large select,
.textfield__vertical.large input,
.textfield__vertical.large select {
    padding: 0.75rem 1rem;
    line-height: 24px;
}

/* text field B error message */

.textfield__b.error input {
    border-color: var(--color-danger);
}

.textfield__b.error .field-message {
    position: absolute;
    top: 4px;
    right: 0.5rem;
    color: var(--color-danger);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.textfield__b.success input {
    border-color: var(--color-success);
}

.textfield__b.success .field-message {
    position: absolute;
    top: 0;
    right: 0.5rem;
    color: var(--color-success);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

/* old mobile and wearable  */
@media all and (min-width: 280px) and (max-width: 359px) {}

/* mobile devices */
@media all and (min-width: 320px) {}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:576px) {}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {}

/* Large devices (small desktops and laptop, 992px and up) */
@media all and (min-width: 992px) {}

/* Extra large devices (desktops and large laptop, 1200px and up) */
@media screen and (min-width:1200px) {}

/* Extra Extra large devices (large desktops, 1440px and up) */
@media all and (min-width: 1440px) {}