@import url("./containers/title_container.css");

@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
    src: local('Pretendard Variable'),
        url('https://cdn.jsdelivr.net/gh/Nsadfhs/tedex@1.0.0/public/fonts/PretendardVariable.woff2') format('woff2-variations'),
        url('https://cdn.jsdelivr.net/gh/Nsadfhs/tedex@1.0.0/public/fonts/PretendardVariable.ttf') format('truetype');
}

/* 기본 폰트 설정 */
html body * {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

/* 

heading level 1 ~ 6

title main / sub / sup

*/

h1.primary,
h2.primary,
h3.primary,
h4.primary,
h5.primary,
h6.primary,
p.primary {
    color: var(--color-primary);
}

.page-title__main {
    color: var(--color-gray__900);
    font-size: var(--font-size__title-1);
    font-weight: var(--font-weight__bold);
    line-height: var(--line-height__title-1);
    letter-spacing: var(--letter-spacing__xs);
    text-transform: capitalize;
    word-break: keep-all;
}

.page-title__sub {
    color: var(--color-gray__700);
    font-size: var(--font-size__subtitle-1);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-1);
    letter-spacing: var(--letter-spacing__md);
    text-transform: capitalize;
    word-break: keep-all;
}

.page-title__1 {
    font-size: var(--font-size__title-1);
    line-height: var(--line-height__md);
}

.page-title__2 {
    font-size: var(--font-size__title-2);
    line-height: var(--line-height__md);
}

.page-title__3 {
    font-size: var(--font-size__title-3);
    line-height: var(--line-height__md);
}

.page-title__4 {
    font-size: var(--font-size__title-4);
    line-height: var(--line-height__md);
}

.section-heading__main {
    color: var(--color-gray__900);
    font-size: var(--font-size__heading-1);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__heading-1);
    word-break: keep-all;
}

.section-heading__sub {
    color: var(--color-gray__700);
    font-size: var(--font-size__subtitle-2);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-2);
    word-break: keep-all;
}

.contents-title__1 {
    color: var(--color-black);
    font-size: var(--font-size__title-1);
    font-weight: var(--font-weight__bold);
    line-height: var(--line-height_md);
}

.contents-title__2 {
    color: var(--color-black);
    font-size: var(--font-size__title-2);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__sm);
}

.contents-subtitle__1 {
    color: var(--color-black);
    font-size: var(--font-size__sub-1);
    font-weight: var(--font-weight__bold);
    line-height: var(--line-height__md);
}

.contents-subtitle__2 {
    color: var(--color-black);
    font-size: var(--font-size__sub-2);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__sm);
}

.contents-subtitle__3 {
    color: var(--color-black);
    font-size: var(--font-size__sub-3);
    font-weight: var(--font-weight_bold);
    line-height: var(--line-height_md);
}

.contents-body__1 {
    color: var(--color-black);
    font-size: var(--font-size__body-1);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__md);
}

.contents-body__2 {
    color: var(--color-black);
    font-size: var(--font-size__body-2);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__md);
}

.contents-body__3 {
    color: var(--color-black);
    font-size: var(--font-size__body-3);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__md);
}

.contents-body__4 {
    color: var(--color-black);
    font-size: var(--font-size__body-4);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__md);
}

.contents-detail__1 {
    color: var(--color-black);
    font-size: var(--font-size__detail-1);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__sm);
}

.contents-detail__2 {
    color: var(--color-black);
    font-size: var(--font-size__detail-2);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__sm);
}

/* old mobile and wearable  */
@media all and (min-width: 280px) and (max-width: 359px) {}

/* mobile devices */
@media all and (min-width: 320px) {}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:576px) {}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {}

/* Large devices (small desktops and laptop, 992px and up) */
@media all and (min-width: 992px) {}

/* Extra large devices (desktops and large laptop, 1200px and up) */
@media screen and (min-width:1200px) {}

/* Extra Extra large devices (large desktops, 1440px and up) */
@media all and (min-width: 1440px) {}