@import url("./containers/title_container.css");

@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
    src: local('Pretendard Variable'),
        url('/public/fonts/PretendardVariable.woff2') format('woff2-variations'),
        url('/public/fonts/PretendardVariable.ttf') format('truetype');
}

/* 기본 폰트 설정 */
*:not(head, script),
*::before,
*::after {
    font-family: 'Pretendard Variable', sans-serif;
}

/* 

heading level 1 ~ 6

title main / sub / sup

*/

h1.primary,
h2.primary,
h3.primary,
h4.primary,
h5.primary,
h6.primary,
p.primary {
    color: var(--color-primary);
}

h1.weak,
h2.weak,
h3.weak,
h4.weak,
h5.weak,
h6.weak,
p.weak {
    font-weight: var(--font-weight__lighter);
}

.heading__1 {
    color: var(--color-black);
    font-size: var(--font-size__heading-1);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__heading-1);
}

.heading__1.weak {
    color: var(--color-black__off);
    font-size: var(--font-size__heading-2);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__heading-2);
}

.heading__2 {
    color: var(--color-black);
    font-size: var(--font-size__heading-2);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__heading-2);
}

.heading__2.weak {
    color: var(--color-black__off);
    font-size: var(--font-size__heading-3);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__heading-3);
}

.heading__3 {
    color: var(--color-black);
    font-size: var(--font-size__heading-3);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__heading-3);
}

.heading__3.weak {
    color: var(--color-black__off);
    font-size: var(--font-size__heading-4);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__heading-4);
}

.heading__4 {
    color: var(--color-black);
    font-size: var(--font-size__heading-4);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__heading-4);
}

.heading__4.weak {
    color: var(--color-black__off);
    font-size: var(--font-size__heading-5);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__heading-5);
}

.heading__5 {
    color: var(--color-black);
    font-size: var(--font-size__heading-5);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__heading-5);
}

.heading__5.weak {
    color: var(--color-black__off);
    font-size: var(--font-size__heading-6);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__heading-6);
}

.heading__6 {
    color: var(--color-black);
    font-size: var(--font-size__heading-6);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__heading-6);
}

.heading__6.weak {
    color: var(--color-black__off);
    font-weight: var(--font-weight__medium);
}

.heading__main,
.section-heading__main {
    color: var(--color-black__off);
    font-size: var(--font-size__heading-1);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__heading-1);
    word-break: keep-all;
}

.heading__sub,
.section-heading__sub {
    color: var(--color-gray__700);
    font-size: var(--font-size__subtitle-1);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-1);
    word-break: keep-all;
}

.page-title__main {
    color: var(--color-black__off);
    font-size: var(--font-size__title-2);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__title-2);
    letter-spacing: var(--letter-spacing__xs);
    text-transform: capitalize;
    word-break: keep-all;
}

.page-title__sub {
    color: var(--color-gray__700);
    font-size: var(--font-size__subtitle-2);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-2);
    letter-spacing: var(--letter-spacing__md);
    text-transform: capitalize;
    word-break: keep-all;
}

.page-title__1 {
    font-size: var(--font-size__title-1);
    line-height: var(--line-height__title-1);
}

.page-title__2 {
    font-size: var(--font-size__title-2);
    line-height: var(--line-height__title-2);
}

.page-title__3 {
    font-size: var(--font-size__title-3);
    line-height: var(--line-height__title-3);
}

.page-title__4 {
    font-size: var(--font-size__title-4);
    line-height: var(--line-height__title-4);
}

.page-title__5 {
    font-size: var(--font-size__title-5);
    line-height: var(--line-height__title-5);
}

.page-title__6 {
    font-size: var(--font-size__title-6);
    line-height: var(--line-height__title-6);
}

.section-title__main {
    color: var(--color-black__off);
    font-size: var(--font-size__title-1);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__title-1);
    word-break: keep-all;
}

.section-title__sub {
    color: var(--color-gray__700);
    font-size: var(--font-size__subtitle-1);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-1);
    word-break: keep-all;
}

.contents-title__1 {
    color: var(--color-black);
    font-size: var(--font-size__title-1);
    font-weight: var(--font-weight__bold);
    line-height: var(--line-height__title-1);
}

.contents-title__2 {
    color: var(--color-black);
    font-size: var(--font-size__title-2);
    font-weight: var(--font-weight__bold);
    line-height: var(--line-height__title-2);
}

.contents-title__3 {
    color: var(--color-black);
    font-size: var(--font-size__title-3);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__title-3);
}

.contents-title__4 {
    color: var(--color-black);
    font-size: var(--font-size__title-4);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__title-4);
}

.contents-title__5 {
    color: var(--color-black);
    font-size: var(--font-size__title-5);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__title-5);
}

.contents-title__6 {
    color: var(--color-black);
    font-size: var(--font-size__title-6);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__title-6);
}

.contents-title__main {
    color: var(--color-black__off);
    font-size: var(--font-size__title-3);
    font-weight: var(--font-weight__bolder);
    line-height: var(--line-height__title-3);
    word-break: keep-all;
}

.contents-subtitle__1 {
    color: var(--color-gray__600);
    font-size: var(--font-size__subtitle-1);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-1);
}

.contents-subtitle__1.weak {
    color: var(--color-gray__600);
    font-size: var(--font-size__subtitle-2);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-2);
}

.contents-subtitle__2 {
    color: var(--color-gray__600);
    font-size: var(--font-size__subtitle-2);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-2);
}

.contents-subtitle__2.weak {
    color: var(--color-gray__600);
    font-size: var(--font-size__subtitle-3);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-3);
}

.contents-subtitle__3 {
    color: var(--color-gray__600);
    font-size: var(--font-size__subtitle-3);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-3);
}

.contents-subtitle__3.weak {
    color: var(--color-gray__600);
    font-size: var(--font-size__subtitle-4);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-4);
}

.contents-subtitle__4 {
    color: var(--color-gray__600);
    font-size: var(--font-size__subtitle-4);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-4);
}

.contents-subtitle__4.weak {
    color: var(--color-gray__600);
    font-size: var(--font-size__subtitle-5);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-5);
}

.contents-subtitle__5 {
    color: var(--color-gray__600);
    font-size: var(--font-size__subtitle-5);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-5);
}

.contents-subtitle__5.weak {
    color: var(--color-gray__600);
    font-size: var(--font-size__subtitle-6);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-6);
}

.contents-subtitle__6 {
    color: var(--color-gray__600);
    font-size: var(--font-size__subtitle-6);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-6);
}

.contents-subtitle__6.weak {
    color: var(--color-gray__600);
    font-size: var(--font-size__subtitle-6);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-6);
}

.contents-title__sub {
    color: var(--color-gray__700);
    font-size: var(--font-size__subtitle-3);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__subtitle-3);
    word-break: keep-all;
}

.contents-body__1 {
    color: var(--color-black);
    font-size: var(--font-size__body-1);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__md);
}

.contents-body__2 {
    color: var(--color-black);
    font-size: var(--font-size__body-2);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__md);
}

.contents-body__3 {
    color: var(--color-black);
    font-size: var(--font-size__body-3);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__md);
}

.contents-body__4 {
    color: var(--color-black);
    font-size: var(--font-size__body-4);
    font-weight: var(--font-weight__medium);
    line-height: var(--line-height__md);
}

.contents-detail__1 {
    color: var(--color-black);
    font-size: var(--font-size__body-5);
    font-weight: var(--font-weight__light);
    line-height: var(--line-height__sm);
}

.contents-detail__2 {
    color: var(--color-black);
    font-size: var(--font-size__body-6);
    font-weight: var(--font-weight__light);
    line-height: var(--line-height__sm);
}

/* old mobile and wearable  */
@media all and (min-width: 280px) and (max-width: 359px) {}

/* mobile devices */
@media all and (min-width: 320px) {}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:576px) {}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {}

/* Large devices (small desktops and laptop, 992px and up) */
@media all and (min-width: 992px) {}

/* Extra large devices (desktops and large laptop, 1200px and up) */
@media screen and (min-width:1200px) {}

/* Extra Extra large devices (large desktops, 1440px and up) */
@media all and (min-width: 1440px) {}