/* 버튼 컨테이너 */

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.button-container.padding {
    padding: 0.25rem 1rem;
}

.button-container.full {
    max-width: 100% !important;
    width: 100% !important;
}

/* 버튼 컨테이너 alignment */
.button-container.nowrap {
    flex-wrap: nowrap;
}

.button-container.vertical {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.button-container.h-left,
.button-container.vertical.v-top {
    justify-content: flex-start;
}

.button-container.h-center,
.button-container.vertical.v-center {
    justify-content: center;
}

.button-container.h-right,
.button-container.vertical.v-bottom {
    justify-content: flex-end;
}

.button-container.v-top,
.button-container.vertical.h-left {
    align-items: flex-start;
}

.button-container.v-center,
.button-container.vertical.h-center {
    align-items: center;
}

.button-container.v-bottom,
.button-container.vertical.h-right {
    align-items: flex-end;
}

.button-container.h-between {
    justify-content: space-between;
}

.button-container.h-around {
    justify-content: space-around;
}

.button-container.h-evenly {
    justify-content: space-evenly;
}

.button-container.vertical.v-stretch {
    align-items: stretch;
}

/* 

container etc...

*/

/* mobile responsible */
.button-container.mobile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* dark */
.button-container.dark {
    filter: brightness(0.5);
}

/* margin bottom */
.button-container.margin-bottom__1 {
    margin-bottom: 1rem;
}

.button-container.margin-bottom__2 {
    margin-bottom: 2rem;
}

.button-container.margin-bottom__3 {
    margin-bottom: 3rem;
}

/* old mobile and wearable  */
@media all and (min-width: 280px) and (max-width: 359px) {}

/* mobile devices */
@media all and (min-width: 320px) {}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:576px) {
    .button-container.mobile {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {}

/* Large devices (small desktops and laptop, 992px and up) */
@media all and (min-width: 992px) {}

/* Extra large devices (desktops and large laptop, 1200px and up) */
@media screen and (min-width:1200px) {}

/* Extra Extra large devices (large desktops, 1440px and up) */
@media all and (min-width: 1440px) {}