.input-container,
.input-container.horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1rem;
    width: 100%;
}

.input-container.wrap,
.input-container.horizontal.wrap {
    flex-wrap: wrap;
}

.input-container.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.input-container.horizontal.reverse {
    flex-direction: row-reverse;
}

/* column */
.input-container.vertical {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.input-container.vertical.reverse {
    flex-direction: column-reverse;
}

/* align */
.input-container.horizontal.h-left,
.input-container.vertical.v-top {
    justify-content: flex-start;
}

.input-container.horizontal.h-center,
.input-container.vertical.v-center {
    justify-content: center;
}

.input-container.horizontal.h-right,
.input-container.vertical.v-bottom {
    justify-content: flex-end;
}

.input-container.horizontal.h-around,
.input-container.vertical.v-around {
    justify-content: space-around;
}

.input-container.horizontal.h-between,
.input-container.vertical.v-between {
    justify-content: space-between;
}

.input-container.horizontal.h-evenly,
.input-container.vertical.v-evenly {
    justify-content: space-evenly;
}

.input-container.horizontal.v-top,
.input-container.vertical.h-left {
    align-items: flex-start;
}

.input-container.horizontal.v-center,
.input-container.vertical.h-center {
    align-items: center;
}

.input-container.horizontal.v-bottom,
.input-container.vertical.h-right {
    align-items: flex-end;
}

/* old mobile and wearable  */
@media all and (min-width: 280px) and (max-width: 359px) {
    :root {}
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:576px) {
    :root {}
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    :root {}
}

/* Large devices (small desktops and laptop, 992px and up) */
@media screen and (min-width:992px) {
    :root {}
}

/* Large devices (desktops and large laptop, 1200px and up) */
@media screen and (min-width:1200px) {
    :root {}
}

/* Extra Extra large devices (large desktops, 1440px and up) */
@media screen and (min-width:1440px) {
    :root {}
}