.main-wrapper,
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: var(--max-width__wide);
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-bottom: 7.5rem;
}

.main-wrapper.horizontal,
.main-container.horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 0;
}

/* main container alignment  */

.main-container.v-top,
.main-container.horizontal.h-left {
    justify-content: flex-start;
}

.main-container.v-center,
.main-container.horizontal.h-center {
    justify-content: center;
}

.main-container.v-bottom,
.main-container.horizontal.h-right {
    justify-content: flex-end;
}

.main-container.h-left,
.main-container.horizontal.v-top {
    align-items: flex-start;
}

.main-container.h-center,
.main-container.horizontal.v-center {
    align-items: center;
}

.main-container.h-right,
.main-container.horizontal.v-bottom {
    align-items: flex-end;
}

.main-wrapper.cms,
.main-container.cms {
    display: block;
    height: calc(100vh - 3.75rem);
    padding-top: 2.25rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: auto;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.2s ease-out;
}

.main-wrapper.horizontal.column__2,
.main-container.horizontal.column__2 {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
}

.contents-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    width: 100%;
    height: 100%;
}

.contents-wrapper.cms,
.contents-wrapper.horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
}

/* contents align */

.contents-wrapper.v-top,
.contents-wrapper.horizontal.h-left {
    justify-content: flex-start;
}

.contents-wrapper.v-center,
.contents-wrapper.horizontal.h-center {
    justify-content: center;
}

.contents-wrapper.v-bottom,
.contents-wrapper.horizontal.h-right {
    justify-content: flex-end;
}

.contents-wrapper.v-around,
.contents-wrapper.horizontal.h-around {
    justify-content: space-around;
}

.contents-wrapper.v-between,
.contents-wrapper.horizontal.h-between {
    justify-content: space-between;
}

.contents-wrapper.v-evenly,
.contents-wrapper.horizontal.h-evenly {
    justify-content: space-evenly;
}

.contents-wrapper.h-left,
.contents-wrapper.horizontal.v-top {
    align-items: flex-start;
}

.contents-wrapper.h-center,
.contents-wrapper.horizontal.v-center {
    align-items: center;
}

.contents-wrapper.h-right,
.contents-wrapper.horizontal.v-bottom {
    align-items: flex-end;
}

.contents-align__left {
    margin-left: 0;
    margin-right: auto;
}

.contents-align__right {
    margin-left: auto;
    margin-right: 0;
}

.contents-align__center {
    margin-left: auto;
    margin-right: auto;
}

/* old mobile and wearable  */
@media all and (min-width: 280px) and (max-width: 359px) {
    :root {}
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:576px) {
    :root {}

    .main-wrapper.cms,
    .main-container.cms {
        margin-left: 12.5rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    :root {}
}

/* Large devices (small desktops and laptop, 992px and up) */
@media screen and (min-width:992px) {
    :root {}
}

/* Large devices (desktops and large laptop, 1200px and up) */
@media screen and (min-width:1200px) {
    :root {}
}

/* Extra Extra large devices (large desktops, 1440px and up) */
@media screen and (min-width:1440px) {
    :root {}

    .main-wrapper {
        max-width: var(--max-width__xxxl);
        margin-left: auto;
        margin-right: auto;
    }
}