@import url("./bottom_navigation_bar.css");

.footer-wrapper,
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    padding: 1rem;
    background-color: inherit;
    z-index: 1;
}

.footer-wrapper.cms,
.footer-container.cms {
    border-top: var(--border-gray__1);
}

.footer-container.dark {
    background-color: var(--color-black__off);
}

.footer-wrapper p {
    color: inherit;
    font-size: var(--font-size__detail);
    line-height: 1.5;
}

.footer-contents__left {
    align-self: flex-start;
}

.footer-contents__center {
    align-self: center;
}

.footer-contents__right {
    align-self: flex-end;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0.5rem;
    width: 100%;
    height: auto;
    padding-top: 0.75rem;
    padding-right: 1rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    background-color: transparent;
}

.footer-container.dark {
    background-color: var(--color-grey__600);
}

.footer-container.dark * {
    color: var(--color-white__off);
}

.footer-logo {
    display: none;
}

.footer-info-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0.25rem;
    width: 100%;
}

.footer-info-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.25rem;
    width: 100%;
}

.footer-info-item.h-center {
    justify-content: center;
}

.footer-info-label,
.footer-info-value {
    color: var(--color-gray__600);
    height: auto;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 0.125rem;
    padding-right: 0.125rem;
}

.footer-copyright {
    display: block;
    max-width: 100%;
    width: 100%;
    color: var(--color-black);
    font-size: 0.75rem;
    font-weight: 200;
    line-height: 1.125rem;
    text-align: center;
}

.dark.footer-copyright {
    color: var(--color-white__off);
}

/* old mobile and wearable  */
@media all and (min-width: 280px) and (max-width: 359px) {
    :root {}
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:576px) {
    :root {}
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    :root {}

    .footer-wrapper,
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 50px;
        padding: 1rem;
        background-color: inherit;
        z-index: 1;
    }

    .footer-logo {
        display: inline-block;
    }
}

/* Large devices (small desktops and laptop, 992px and up) */
@media screen and (min-width:992px) {
    :root {}
}

/* Large devices (desktops and large laptop, 1200px and up) */
@media screen and (min-width:1200px) {
    :root {}
}

/* Extra Extra large devices (large desktops, 1440px and up) */
@media screen and (min-width:1440px) {
    :root {}
}